@{
    ViewData["Title"] = "ForgotPassword";
}

@section Scripts{
    @*Sayfa refresh olmadan validation'ın yapılması için*@
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
}


    <div class="row justify-content-center">
        <div class="text-center col-md-6">
            <h1 class="text-center"><i class="bi bi-person-check-fill text-danger"></i> Şifremi Unuttum</h1>
            <hr />

            <div class="row justify-content-center">
                <div class="col-md-10">

                    @if (ViewBag.ErrorMessage != null)
                {
                    <div class="row text-center mb-3">
                        <div class="text-danger"><i class="bi bi-x-circle-fill text-danger"></i> @ViewBag.ErrorMessage</div>
                    </div>
                }
                @*@if (TempData["message"] != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show mb-4" role="alert">
                        <strong>
                            @TempData["message"]
                        </strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }*@

                <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="d-grid gap-4">

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">E-mail</label>
                        <div class="col-md-9">
                            <input type="email" name="email" class="form-control" />
                            @*<span asp-validation-for="Username" class="text-danger"></span>*@
                        </div>
                    </div>


                    <div class="form-group row justify-content-center">
                        <div class="d-grid col-5 mx-auto">
                            <button type="submit" class="btn btn-danger mt-4">Gönder</button>
                        </div>
                    </div>


                </form>

            </div>

            @*<div class="col-md-6">

            </div>*@
        </div>
    </div>
</div>


