@model List<OrderListModel>
@{
    ViewData["Title"] = "Success";
}


<div class="row">
    <div class="text-center">
        <div class="alert text-center">
            <i class="bi bi-check-circle-fill text-success" style="font-size: 75px"></i>
            <h2 class="text-success fs-2 mb-3">Siparişin Bizde!</h2>
        </div>
    </div>
</div>
